<div>
  <select class="form-control" (change) = "cambioTipo()"  [(ngModel)] = "this.perfil">
    <optgroup label="Tipo">

      <option value = "camioneta">Camion</option>

      <option value = "auto">Auto</option>

      <option value = "camioneta">Camioneta</option>

    </optgroup>

    <optgroup label="Localidad">

      <option value = "Quilmes">Quilmes</option>

      <option value = "Lomas De Zamora">Lomas De Zamora</option>

      <option value = "Capital Federal">Capital Federal</option>
      <option value = "Avellaneda">Avellaneda</option>

    </optgroup>
    <optgroup label="Concesionaria">

      <option value = "Empresa c1">Empresa c1</option>

      <option value = "Empresa c2">Empresa C2</option>

      <option value = "Empresa c3">Empresa C3</option>


    </optgroup>
  </select>
</div>
